body {
    background-color: firebrick;
    background-image: url(book-header-bg.jpg) !important;
    background-size: cover;
}

.custom-container {
    margin-top: 10%;
    padding: 10px;
    border-radius: 15px;
}

.custom-card {
    background-color: rgba(223, 172, 106, 0.74) !important;
    border-radius: 20px;
    padding: 10px;
}

.custom-btn {
    margin-bottom: 5px;
}

.form-input {
    height: 35px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
}